header{
    background-color: rgba(44,62,80,255);
    color: white;
}

.jumbotron {
    background-color: #1abc9c;
    color: white;
}

.portfolio{
    color: #333333;
    background-color: white;
}

.about{
    background-color: #1abc9c;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.form{
    text-align: start;
}